:root {
  --myApp-global--spacer--md: 30px;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--myApp-global--spacer--md);
}

.notification-container {
  flex: 0 1 auto;
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.input-file {
  color: #dddddd;
}

.table-row {
  float: left;
  align-items: left;

}